@font-face {
  font-family: "Iosevka";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src:
    local("Iosevka"),
    url("https://iosevka-webfonts.github.io/iosevka/woff2/iosevka-regular.woff2") format("woff2"),
    url("https://iosevka-webfonts.github.io/iosevka/ttf/iosevka-regular.ttf") format("truetype");
}

:root {
  --background: #191724;
  --folder-color: #9ccfd8;
  --folder-hover: #e0def4;
  --link-color: #908caa;
  --link-hover: #e0def4;
  --item-spacing: 10px;
}
html {
  font-family: Iosevka;
  font-size: 14px;
  background: var(--background);
  color: var(--folder-color);
}

#main {
  margin: 15% 15% 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(0, 1fr);
  gap: 40px;
}
summary {
  cursor: pointer;
  &:hover {
    color: var(--folder-hover);
  }
}
.column,
details::details-content {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--item-spacing);
}
details::details-content {
  margin-left: 1em;
}
details[open]::details-content {
  margin-top: var(--item-spacing);
}
a {
  display: block;
  text-decoration: none;
  color: var(--link-color);
  &:hover {
    color: var(--link-hover);
  }
}
a,
summary {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
